<footer class="footer">
  <div class="bkg-img-box">
    <div class="contact-details">
      <i class="fa fa-phone fa-inverse fa-2x"></i>
      <div class="company-phone wow shake"><a href="tel:5551234567">0753-016-572</a></div>
      <i class="fa fa-envelope-o fa-inverse fa-2x"></i>
      <h5 class="company-email">office@gooptika.com</h5>
      <i class="fa fa-map-marker fa-inverse fa-2x"></i>
      <h5 class="company-address">77a First Street, Melbourne, Australia</h5>
    </div>
    <div class="copyright">
      <div class="container no-padding">
        <ul class="socials-icons">
          <a href="#"><li class="fa fa-linkedin fa-inverse"></li></a>
          <a href="#"><li class="fa fa-twitter fa-inverse"></li></a>
          <a href="#"><li class="fa fa-google-plus fa-inverse"></li></a>
        </ul>
      </div>
      <p>goOptika full responsive website powered by MEAN<br>
        Developed and Designed by Julen Rojo - 2015. All rights reserved.
      </p>
      <div ng-bind="angular.version"></div>
    </div>
  </div>
</footer>
